@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Fascinate+Inline&family=Michroma&family=Playwrite+IT+Moderna:wght@100..400&family=Righteous&display=swap');

*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    font-family: "Michroma", serif;
    font-weight: 400;
    font-style: normal;

}
:root{
    --common-back:#ff5500;
}
*::selection{
    background:rgb(255, 127, 127);
       
      
}
    *::-webkit-scrollbar{
    fill:none;
    background:transparent;
    width:3px;
}
:root{
    --text-color:rgb(105, 105, 105);
}

p{
    font-family: "Advent Pro", serif;
    font-optical-sizing: auto;
    font-style: normal;

  }
body{
    background:whitesmoke;
    font-family: "Michroma", serif;
    font-weight: 400;
    font-style: normal;
    scroll-snap-type:y mandatory;
    scroll-behavior: smooth;
}
  html.lenis { height: auto; }
  .lenis.lenis-smooth { scroll-behavior: auto; }
  .lenis.lenis-smooth [data-lenis-prevent] { overscroll-behavior: contain; }
  .lenis.lenis-stopped { overflow: hidden; }
.options:hover,.send:hover{
    box-shadow: inset 200px 0px 0px black;
    cursor: pointer;
    color:whitesmoke;
}
    .options{
    color:var(--common-back);
    font-weight: 700;
    transition: all .6s ease-in-out;
    padding:6px;
    font-size: 10px;
    font-weight: 300;
    border-radius: 5px;
    width:150px;
    margin:5px;
}
.imagehold{
    display: flex;
    justify-content: center;
    align-items: center;
width:100%;
overflow: hidden;
}
.welcome h1::after{
    content:"";
    position: absolute;
    width:100px;

    bottom:0;
    border-bottom: 1.5px solid black;
}
.welcome{
    height:110vh;
    padding-top: 100px;
    display: flex;
    margin:auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background:
    url(./assets/bhd.jpg);
    background-attachment: fixed;
    background-size: 1500px;
    background-position-y: -50px;
    background-repeat: repeat;
    border-radius: 0px 0px 0% 50% ;
    box-shadow:
    inset 0px 0px 0px #ff4a1d,
    inset 0px 0px 0px #ffcbac,
    inset 0px 0px 0px #ff5e00cd,
    inset 0px 0px 0px #ffb68b5f,
    inset 60px 0px 0px #ff9f6891 ;
    animation:grows 5s linear infinite;

}

@keyframes grows {
    20%{
        box-shadow:
    inset 0px 0px 0px #ff4a1d,
    inset 0px 0px 0px #ffcbac,
    inset 0px 0px 0px #ff5e00cd,
    inset 0px 0px 0px #ffb68b5f,
    inset 0px 0px 0px #ff9f6891 ;

    }
    
    40%{
        box-shadow:
       inset 0px 0px 0px #ff4a1d,
    inset 0px 0px 0px #ffcbac,
    inset 0px 0px 0px #ff5e00cd,
    inset 0px 0px 0px #ffb68b5f,
    inset 60px 0px 0px #ff9f6891 ;
    }
    
    60%{
        box-shadow:
      inset 0px 0px 0px #ff4a1d,
    inset 0px 0px 0px #ffcbac,
    inset 0px 0px 0px #ff5e00cd,
    inset 50px 0px 0px #ffb68b5f,
    inset 60px 0px 0px #ff5e00 ;


    }
    
    80%{
        box-shadow:
       inset 0px 0px 0px #ff4a1d,
    inset 0px 0px 0px #ffcbac,
    inset 40px 0px 0px #ff5e00cd,
    inset 50px 0px 0px #ffb68b5f,
    inset 60px 0px 0px #ff9f6891 ;

    }
    
    100%{
        box-shadow:
    inset 10px 0px 0px #ff4a1d,
    inset 30px 0px 0px #ffcbac,
    inset 40px 0px 0px #ff5e00cd,
    inset 50px 0px 0px #ffb68b5f,
    inset 60px 0px 0px #ff9f6891 ;

    }
    
}

.pglogo{
    width: 200px;
    margin-bottom: 20px;
    margin-top:20px;
    border-radius: 50%;
    object-fit: cover;
    user-select: none;
    background:white;
}
.h1blur{
    background:rgba(255,255,255,.2);
    -webkit-backdrop-filter: blur(5rem);
    backdrop-filter: blur(5rem);

}

    .welcome h1{
    position: relative;
    display: flex;
    padding: 10px;
    letter-spacing: 1.5px;
    justify-content: center;
    text-transform: uppercase;
    align-items: center;
    font-size: 15px;
    color:white;
    margin-bottom: 5px;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-right: 10px;
}
.menubar{
    display: flex;
    position: absolute;
    justify-content: flex-end;
    align-items: center;
    height:45px;
    width:75%;
    border-radius: 0px 10px 10px 0px;
    -webkit-backdrop-filter: blur(45em);
    backdrop-filter: blur(5rem);
    background:rgba(255, 255, 255, 0.383);
    animation:returns ease-in forwards;
    animation-timeline: view();
    animation-range-start: 120vh;
    animation-range-end: 300vh;
  
}
@keyframes returns {
    0%{
transform: translateY(-50px) scale(0.9);
animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
        opacity: 0;
        }
 
    15%{
    position:sticky;
    border-radius: 0px;
    opacity:1;
    width:100%;
    backdrop-filter: blur(4rem);
transform: translateY(0) scale(1);
        opacity: 1;
        background: rgba(255, 255, 255, 0.87);
        backdrop-filter: blur(10px);  
         -webkit-backdrop-filter: blur(4rem);
         animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
    z-index: 10;
    top:0;

    }
    100%{
        position:sticky;
        border-radius: 0px;
        opacity:1;
        width:100%;
        backdrop-filter: blur(4rem);
        -webkit-backdrop-filter: blur(4rem);
        z-index: 10;
        top:0;
        background:rgb(255, 255, 255);
    }
}
.welcome p{
    letter-spacing: 2px;
    padding:10px;
    outline-offset: -15px;
    backdrop-filter: blur(5rem);
    -webkit-backdrop-filter: blur(5rem);
    outline: 5px double rgba(255, 255, 255, 0.09);
    color:white;
}
.footer{
    backdrop-filter: blur(3rem);
    -webkit-backdrop-filter: blur(3rem);
    display:flex;

    border-top:3px solid rgba(255, 255, 255, 0.27);
    padding-top: 100px;
    justify-content:space-around;
    height:calc(100vh - 50px);
}

.lists{
    display:flex;
    flex-direction: column;
    color:white;

}

.topic{
    font-weight:600;
    font-size:15px;
    width:200px;
font-family: "Fascinate Inline";
    text-align: left;
    margin-bottom: 10px;
    color:black;
}
.showroombox{
    display: flex;
    flex-direction: column;
}

.showroomtitle{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10px;
    height:200px;
    font-size:25px;
    text-transform: uppercase;
        color:rgb(157, 169, 169);

    background:white;
}
.tilepic:hover .picdetail{
    margin:0;
    -webkit-backdrop-filter: blur(10rem);
    backdrop-filter: blur(10rem);
}
.tilepic{
    position:relative;
    backdrop-filter: blur(0rem);
    backdrop-filter: blur(0rem);
    top:0;
    width:100%;
    height:100%;
    overflow: hidden;

}
.picdetail{
    transition: all .3s ease-in-out;
    display: flex;
    width:100%;
    height:100%;
    margin-left: -100%;
    z-index: 2;
    justify-content: center;
    align-items: center;
    background:rgba(255, 255, 255, 0.224);
}
.picdetailitem{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align:center;
    font-size:12px;
    color:white;
}
.pdi{
    padding:10px;
    width:min-content;
    
}
.pdis{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10px;
    width:min-content;
    border:1px solid white;
    height:50px;
    width:50px;
    margin:10px;
    border-radius: 10px;
    
}
.pdisa{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:5px;
    width:min-content;
    transform: scale(.9) rotate(0deg);
    transition: all .5s ease-in-out;
    height:30px;
    width:30px;
    border-radius: 10px;
    
}
.brandname{
    font-weight: 100;
    text-align: left;
    height: 20px;
    font-family: michroma;
}
.name{
font-family: "Fascinate Inline";
font-size:15px;
}
.price{
font-size:20px;
color:var(--common-back)
}
.brandunit{
    font-size: 12px;

}
.brandtext{
    width:100%;
}
.logobackdrop{
    width:100px;
    height: 100px;
    opacity:.01;
        background:url(./assets/icon-nobg.png);
    margin:auto;
    filter:grayscale(1);
    overflow:hidden;
    border-radius: 50%;
    position:absolute;
    right:0;
    z-index: -1;
    bottom:0;
    background-size:cover;

}
.brandlogo{
    height:40px;
    width:40px;
    background:url(./assets/icon.png);
    margin:auto;
    filter:grayscale(1);
    opacity: .8;
    overflow:hidden;
    border-radius: 10px;
    position:absolute;
    margin:10px;
    background-size:cover;

    
}
.tileinfo{
    display: flex;
    z-index: 2;
    position:relative;
    width:100%;
    padding:15px;
    font-weight: 600;
    text-align: right;
    font-size: 10px;
}

.showroom {
    display: flex;
    flex-direction: row;
    width: 100%;
    background: rgb(240, 243, 244);
    padding-top: 50px;
    padding-bottom: 50px;
    overflow-x: auto; 
    overflow-y: hidden; 
    white-space: nowrap; 
    -webkit-overflow-scrolling: touch; 
}
.grid-card{
    display: flex;
        display: flex;
    position:relative;
    align-items: center;
    height:unset;
    flex-direction: column;
    width: 350px;
    object-fit: contain;
    border-radius: 15px;
    background: white;
    margin: 10px;
    box-shadow: 0px 0px 15px rgb(184, 184, 185);
    flex-shrink: 0; 
    flex-grow: 0; 
}
.tilecard {
    display: flex;
    position:relative;
    align-items: center;
    flex-direction: column;
    height: 500px;
    width: 350px;
    border-radius: 15px;
    background: white;
    margin: 10px;
    box-shadow: 0px 0px 15px rgb(184, 184, 185);
    overflow: clip;
    flex-shrink: 0; 
    flex-grow: 0; 
}
.cardbox{
height:190px;
margin:10px;
background:rgb(0, 0, 0);
background-image: url(./assets/bhd0.jpg);
-webkit-background-image: url(./assets/bhd0.jpg);
border-radius: 40px;
background-size: 1000px 600px;
-webkit-background-size: 1000px 600px;
background-position: center;
display: flex;
flex-direction: column;
filter:saturate(1.5);
justify-content: space-between;
align-items: center;
background-size: 1000px;
background-repeat: no-repeat, no-repeat;
-webkit-background-repeat: no-repeat, no-repeat;
background-attachment: fixed,fixed;
-webkit-background-attachment: fixed,fixed;
border:15px solid rgba(255, 255, 255, 0);


}
.talk{
    display: flex;
    padding-left:20px;
    font-size:25px;
    padding-top:100px;
}

.dot{
    padding:5px;
    border-radius: 50%;
    background:#ff4a1d;
    box-shadow:0px 0px 3px #ff3300;
}
.talktop span{
    color:#ff4a1d;
}
.talktop{
    display:flex;
    padding:20px;
    align-items:  center;
    gap:20px;
}
.talktop{
    display: flex;
    justify-content: center;
    align-items: center;
}
.talkmessage{
    position:relative;
    display:flex;
    font-size: 25px;
    justify-content:center;
    flex-direction: row;
    align-self: center;
    width:500px;
    text-align:center;
    background:white;
    height:300px;
    padding:20px;
    align-items: center;
}
@keyframes lengthen2 {
    0%,60%{
        animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
        opacity:0;
        width:0%;
    }
70%{
    opacity:0;
    width:55%;
}
    100%{
        opacity: 1;
        width:500px;
    }
}

.dir div{
    font-size: 10px;
    color:white;
    padding:3px;
    border-radius: 50%;
}

.dir{
    position:absolute;
    display: flex;
    justify-content: center;
    gap:10px;
    align-items: center;
    bottom:0;
    margin:10px;
    left:0;
    width:250px;
}

.qrbox{
    display: flex;
    position:relative;
    overflow: hidden;
    border:4px double transparent;
    border-right:4px double whitesmoke;
    flex-direction: row;
    height:150px;
    overflow-x: scroll;
    align-items: center;
    flex-wrap: nowrap;
    gap:20px;
}

.qrbox:hover .qritem{
    animation-play-state: paused !important;
    cursor: pointer;

}
.qritem img{
    width:100%;
}
.qritem img:nth-child(1){
    width:70%;
    display: flex;
    justify-self: center;
    align-self: center;
}
.mailto{
    display: flex;
    justify-content: space-around;
    gap:3px;
    align-items: center;
}
.qritem img:nth-child(2){
    display: flex;
    justify-self: center;
    transform: scale(1.5);
    align-self: center;
}
.qritem{
    display: flex;
    width:150px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    height:150px;
    border-radius: 10px;
    overflow: hidden;
}
.email{
    color:grey;
    font-size: 10px;
}
.socials{
    display: flex;
    justify-content: space-around;
    background:white;
    margin:20px;
    padding:20px;
    align-self: center;
}

.socials-svg:hover{
        border:3px double rgba(128, 128, 128);

}
.controls{
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    gap:5px;
}
.map{
    display: flex;
    flex-direction: column;
    align-items:center;
}

.imggallery{
    width:250px;
}

.tilecollection{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width:100%;
}
.maptitle{
    width:100%;
    padding:40px;
    font-size: 20px;
    font-family: michroma;
    color:white;
    background:black;
}

.ifmap{
    width:100%;
    height:450px;
}
.cleft,.cright{
    font-size: 12px;
    background:black;
    height:25px;
    width:25px;
    overflow: hidden;
    font-family: righteous;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    color:white;
    align-items: center;
}

.socials-svg{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:5px;
    filter:sepia(1) saturate(5) hue-rotate(0deg);
    height: 25px;
    width: 25px;
    border:3px double rgba(128, 128, 128, 0);;
    border-radius: 50%;
    transition: all .7s ease-in-out;
    animation:glow 10s ease-in-out infinite;
}
@keyframes glow {
    100%{
    filter:sepia(1) saturate(5) hue-rotate(360deg);
    }
}
.contacts-box{
    display:flex;
    margin-top:100px;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    flex-direction: row;
    padding-bottom: 100px;
}
.f1{
    display:flex;
    align-items: center;
    gap:10px;
}
.f1 input::placeholder{
}
.formbox{
    padding:20px;
    display: flex;
    flex-direction: column;
        animation:lengthen2 ease-in forwards;
    animation-timeline: view();
    animation-range-start:20px;
    animation-range-end: 290px;
}
.f1 input{
    height:50px;
    border: 1px solid transparent;
    background:transparent;
    outline:none;
}
.stalk{
    display: flex;
    align-self: flex-start;
    margin-left:10px;
    align-items: center;
    margin-left: 20px;
    font-size: 12px;
    width:200px;
    height:40px;
    padding:20px;
    background:black;
    color:white;
    width:max-content;
    justify-content: center;
    overflow: hidden;
}

.stalk span::before{
    content:"send";
    display:flex;
    padding:0px;
    margin:0px;
    filter:drop-shadow( 0px 13px white);
    transition: all .7s cubic-bezier(0.19, 1, 0.22, 1);
    text-align: center;
    letter-spacing: 2px;

}
.svg{
    width:15px;
}
.stalk span{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding:0px;
    height:12px;
    text-align: center;
}

.stalk:hover span::before{
margin-top: -25px;
letter-spacing: 2px;

}


.stalk:hover .pdisa{
    transform: scale(.9) rotate(45deg);

}

.f1 .input{
    border: 1px solid transparent;
    padding-left:10px;
    background:white;


    border-bottom: 1px solid black;
}

.cbox{
    display:flex;
    flex-direction: column;
    width:100%;
}
.cardbox:nth-child(1),
    .cardbox:nth-child(4){
    width: 30%;
    animation:lengthen ease-in forwards;
    animation-timeline: view();
    animation-range-start:-10vh;
    animation-range-end: 140vh;
}
@keyframes lengthen {
    0%,60%{
        animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
        opacity:0;
        width:0%;

    }
70%{
    opacity:0;
    width:55%;

}
    100%{
        opacity: 1;
        width:65%;

    }
}

.cardbox:nth-child(2),
    .cardbox:nth-child(3){
    width:30%;
    outline-offset:-13px;
    outline:7px double black;
}
.path{
    stroke-linecap: round;
    stroke:rgb(0, 0, 0);
}
.mission{
    position:sticky;
    top:0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    padding-top:100px;
    background:whitesmoke;
    margin:auto;
    width:70%;
    flex-direction: row;
    animation: unstick linear forwards;
    animation-timeline: view();
    animation-range-start: 240vh;
    animation-range-end: 270vh;
}
@keyframes unstick {
    50%{
        animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
        filter: opacity(0);

    }
    100%{
        filter: opacity(0);
    }
}
.input{
    display:flex;
    background:rgba(255, 255, 255, 0.321);
    margin-top: 20px;
    
}

.phoned{
    margin:30px auto;
    display:flex;
    align-items:center;
    justify-content: center;
    height:50px;
    text-align:center;
    width:80%;
    font-size:20px;
    
}
.phonemenu{
    position:fixed;
    top:0;
    display:none;
    background:rgba(0, 0, 0, 0.476);
    height:100vh;
    width:100%;
margin-left: 100%;
    z-index:1;
    backdrop-filter: blur(5rem);
    -webkit-backdrop-filter: blur(5rem);

}
.svgmenu{
    position:absolute;
    margin:10px;
    right:0;
    margin:5px;
    z-index: 10;
    width:50px;
    display: none;
    stroke-width: 1px;
    height:50px;
    border-radius: 10px;
}

#inp{
    height:50px;
    width:300px;
    background:transparent;
    outline: transparent;
    border:10px solid transparent;
    padding:20px;
}
.label{
    width:150px;
    height: 50px;
    display: flex;
    justify-content: center;
    color:black;
    align-items: center;
    padding-left:20px;
    padding-bottom: 20px;
    padding-top: 20px;
    border:10px solid rgba(255, 255, 255, 0);

}
.loader{
    position: fixed;
    top:0;
    overflow:hidden;
    height:100vh;

    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: 
    linear-gradient(45deg,
    #FAFAF8,var(--common-back));
    backdrop-filter: blur(4rem);
    justify-content: center;
    align-items: center;
    opacity: 0;
    z-index: -100000;

    animation:vanish 4s ease-in forwards;
}
@keyframes vanish {
    0%,70%{opacity: 1;
        z-index: 100000;

    }
    98%{
        opacity: 0;
        
    }
    100%{
        opacity: 0;
        z-index: -100000;
        display: none;
    }
}
img{
    user-select: none;
}
.load{
    width:100px;
    filter:
    drop-shadow( 0px 0px 1px black)
    drop-shadow( 0px 0px 1px black)
    drop-shadow( 0px 0px 1px black);
    animation: loads 5s linear infinite;
    transform: rotate(0deg);
    margin: auto;

}
@keyframes loads {
    100%{
        transform: rotate(360deg);
    }
}

    .send{
    width:150px;
    display: flex;
    height: 50px;
    justify-content: center;
    padding:20px;
    border:10px solid white;
    transition: all .5s ease-in-out;
    align-items: center;
    mix-blend-mode: multiply;
    background-image:
    repeating-conic-gradient(
        from 45deg,
        rgba(146, 146, 146, 0.2) 45deg 50deg,
        rgba(0, 0, 0, 0.35) 50deg 95deg
    );
    background-size:190px 500px, 10px 10px;

}
.newsletter h1{
    color:rgb(157, 169, 169);
    padding:10px;
}
.newsletter{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:400px
     
}

.mission p{
    width:100%;
    padding: 10px;
    color:var(--text-color);
    letter-spacing: 2px;
    font-family: "Michroma", serif;
    font-weight: 400;
    font-style: normal;

    text-align: center;

}
.read{
    display: flex;
    color:black;
    width:100%;
    background:rgb(238, 239, 240);
    padding:10px;
    backdrop-filter:blur(10rem);
    -webkit-backdrop-filter: blur(10rem);

    justify-content: center;
    flex-direction: column;
}
.readp{
    margin:auto;
    font-size: 40px;
    padding:20px;
    width:50%;
    align-items: justify;
    color:white;
    text-align: center;

}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    display:none;
    ;
}
.why{
    padding: 10px;
    display: flex;
        color:rgb(157, 169, 169);

    font-size:25px;
    justify-content: center;
    align-items: center;
}
.readp span{
color:rgba(255, 255, 255, 0.2);
background-image:
repeating-linear-gradient(45deg,rgb(255, 34, 0),rgb(0, 0, 0));
background-clip: text;
letter-spacing: 2px;
font-size:15px;
background-size: 0% 100%;
animation: scrolls linear forwards;
animation-timeline: view();
background-repeat: no-repeat;

}
.readp span:nth-child(1){
    animation-range-start: cover 0vh;
    animation-range-end: cover 30vh;

}
.readp span:nth-child(2){
    animation-range-start: cover 30vh;
    animation-range-end: cover 60vh;

}
.readp span:nth-child(3){
    animation-range-start: cover 60vh;
    animation-range-end: cover 80vh;

}

@keyframes scrolls {
    to{
        
        background-size: 100% 100%;
    }
}
.gallery{
    width:100%;
    background:whitesmoke;
    height: 150vh;
    overflow: hidden;
    display: flex;
}
a{
    text-decoration: none;
    color:white;
}
.link{
    font-size: 12px;
    display: flex;
    align-items: center;
    text-align: left;
    padding-bottom:12px;
    padding-top:12px;
    width:200px;
    color:black;
}

.titles{
    font-size:70px;
    color:rgb(157, 169, 169);
    backdrop-filter: blur(5rem);
    border-radius: 15px;
    -webkit-backdrop-filter: blur(5rem);
    padding:10px;
}
.text-cards{
    display: flex;
    overflow:clip;
    flex-direction: row;
    flex-wrap: wrap;
    background-attachment: fixed;
    justify-content: space-around;
    font-size: 12px;
    align-items: center;
    height:800px;
    background-position-x:center, left;


}
.tcard{
    width:300px;
    height:250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    background:rgba(255, 255, 255, 0.23);
}
.note{
    color:var(--common-back);
    width:400px;
    display: flex;
    background: white;
    background-attachment: fixed;
    font-weight: 800;
    height:fit-content;
    border-radius: 0px 30px 30px 0px;
    text-align: right;
    margin-left: -135px;
    margin-top:775px;
  
    font-size: 12px;
    height:50px;
    align-items: center;
    justify-content: flex-end;
    padding-right: 50px;
    outline-offset: -10px;
    transform: rotate(-90deg);
}
.logobox{
    position: fixed;
    display: flex;
    z-index: 1000;
    filter:drop-shadow(
        1px 1px 1px white
        1px 1px 1px white
        1px 1px 1px white);
    justify-content: center;
    background:transparent;
    margin:10px;
    align-items: center;
    overflow:hidden;
}

.say,.say2{
    background:linear-gradient(45deg,white,rgb(0, 255, 187),rgb(0, 208, 255),rgb(255, 153, 98),rgb(230, 39, 255),white);
    backdrop-filter: blur(10rem);
    -webkit-backdrop-filter: blur(10rem);
    background-clip: text;
    margin:10px;
    background-size: 0% 100%;
animation: scrolls linear forwards;
-webkit-text-stroke: .3px white;
animation-timeline: view();
background-repeat: no-repeat;

    border-radius: 10px;
    animation-range-start:110vh;
    animation-range-end: 155vh;
    font-size: 10px;
    max-width: 90%;
    overflow: hidden;
    color:transparent !important;
}
.say2{
    color:rgb(70, 85, 93) !important;
    background:rgba(255, 255, 255,1);
    -webkit-text-stroke: 0px white;

    backdrop-filter: blur(5rem);
    -webkit-backdrop-filter: blur(5rem);
    font-size:10px;
    margin:auto;
}
#logo{
    width:90px;
    margin:10px;
    margin-top:50px;
    border-radius: 50%;
}